*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* shared stytle */
.font-open-sans{
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
}

.logo h2{
    font-size: 45px;
    font-weight: 900;
}

.orange{
    color: #FD6E0A
}

.btn{
    background-color: #FD6E0A;
    border: none;
    border-radius: 5px;
    padding: 18px 35px;
    font-size: 20px;
    font-weight: bold;
    color: white;
}
/* main style */
header{
    background-color: #FFF8F3;
    padding: 50px;
}



nav{
    display: flex;
    justify-content: space-between;
    width: 71%;
    max-width: 1140px;
    align-items: center;
}
nav .menu{
    list-style: none;
    display: flex;
    gap: 51px;
    align-items: center;
}

nav .menu a{
    text-decoration: none;
    font-size: 20px;
    color: #474747;
}


